.container {
  // outline: 1px solid red;
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

%links-hover-focus {
  &:hover,
  &:focus {
    color: $accent-color;
  }
}
